{% extends "admin/base.html" %}
{% comment %}
SPDX-License-Identifier: GPL-2.0-or-later

Copyright © 2019  Alexandre Iooss
{% endcomment %}

{% load navtag i18n staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img class="banding-logo" src="{% static 'images/logo_navbar.svg' %}" alt="Aube"/>
        </a>
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
        </a>
    </h1>
{% endblock %}

{% block nav-global %}
    {% nav text ' class="selected"' %}
    <div id="nav">
        {% block nav %}
            {# For the moment site nav is hardcoded here but we should make it dynamic #}
            <a{{ nav.users }} href="{% url 'admin:app_list' app_label="users" %}">
                <i class="fa fa-users"></i> {% trans "Users" %}
            </a>
            /
            <a{{ nav.machines }} href="{% url 'admin:app_list' app_label="machines" %}">
                <i class="fa fa-desktop"></i> {% trans "Machines" %}
            </a>
            /
            <a{{ nav.cotisations }} href="{% url 'admin:app_list' app_label="cotisations" %}">
                <i class="fa fa-eur"></i> {% trans "Cotisations" %}
            </a>
            /
            <a{{ nav.topologie }} href="{% url 'admin:app_list' app_label="topologie" %}">
                <i class="fa fa-sitemap"></i> {% trans "Topology" %}
            </a>
            /
            <a{{ nav.preferences }} href="{% url 'admin:app_list' app_label="preferences" %}">
                <i class="fa fa-cogs"></i> {% trans "Settings" %}
            </a>

            <!-- Dynamic menu WIP: need to figure out how to have list of all apps
            {% if app_list %}
                {% for app in app_list %}
                    <a href="{{ app.app_url }}" class="section">{{ app.name }}</a>
                    {% comment %}
                    {% for model in app.models %}
                        <tr class="model-{{ model.object_name|lower }}">
                            {% if model.admin_url %}
                                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                            {% else %}
                                <th scope="row">{{ model.name }}</th>
                            {% endif %}

                            {% if model.add_url %}
                                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                            {% else %}
                                <td>&nbsp;</td>
                            {% endif %}

                            {% if model.admin_url %}
                                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a>
                                </td>
                            {% else %}
                                <td>&nbsp;</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {% endcomment %}
                {% endfor %}
            {% endif %}
            -->
        {% endblock %}
    </div>
{% endblock %}

{% block extrahead %}
    {# Favicon with iOS, Android, touchbar support #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}"/>
{% endblock %}

{% block footer %}
    <div id="footer">
        <p class="pull-right">
            <a href="#">{% trans "Back to top" %}</a>
        </p>
        <p>{{ site_title }} {% trans "powered by" %} Aube 2016&ndash;2019</p>
        <p>
            {% blocktrans trimmed %}
                This software is under the terms of the
                <a href="http://www.gnu.org/licenses/gpl-2.0.txt" target="_blank" rel="nofollow">GPLv2</a> License.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
