{% extends 'machines/sidebar.html' %}

{% load bootstrap3 %}

{% load acl %}
{% load i18n %}

{% block title %}{% trans "Machines" %}{% endblock %}

{% block content %}
    <h2>{% trans "List of ports configurations" %}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "TCP (input)" %}</th>
            <th>{% trans "TCP (output)" %}</th>
            <th>{% trans "UDP (input)" %}</th>
            <th>{% trans "UDP (output)" %}</th>
            <th>{% trans "Machines" %}</th>
        </tr>
        </thead>
        {% for pl in port_list %}
            <tr>
                <td>{{ pl.name }}</td>
                <td>{% for p in pl.tcp_ports_in %}{{ p.show_port }}, {% endfor %}</td>
                <td>{% for p in pl.tcp_ports_out %}{{ p.show_port }}, {% endfor %}</td>
                <td>{% for p in pl.udp_ports_in %}{{ p.show_port }}, {% endfor %}</td>
                <td>{% for p in pl.udp_ports_out %}{{ p.show_port }}, {% endfor %}</td>
                <td>
                    {% if pl.interface_set.all %}
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="editioninterface"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="editioninterface">
                                {% for interface in pl.interface_set.all %}
                                    <li>
                                        <a href="{% url 'users:profil' userid=interface.machine.user.id %}">
                                            {{ interface }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
