{% extends "admin/base_site.html" %}
{% comment %}
SPDX-License-Identifier: GPL-2.0-or-later

Copyright © 2019  Alexandre Iooss
{% endcomment %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}
    <h1>{% blocktrans %}Welcome to {{ site_title }}{% endblocktrans %}</h1>
{% endblock %}

{% block content %}
    <div id="content-main">
        {% if not request.user.is_authenticated %}
            {% if var_sa %}
                <h2>{% trans "Registration" %}</h2>
                <p>{% trans "If you don't have an account yet and you want to access the Internet and the organisation's services, create your own personal account." %}</p>
                <p>
                    <a href="{% url 'users:new-user' %}" class="btn btn-primary"
                       role="button">{% trans "Sign up" %}</a>
                </p>
            {% endif %}
            <h2>{% trans "Logging in" %}</h2>
            <p>{% trans "If you already have an account, log in. You can manage your subscriptions to the organisation, your machines and all your services." %}</p>
            <p>
                <a href="{% url 'login' %}" class="btn btn-primary"
                   role="button">{% trans "Log in" %}</a>
            </p>
        {% else %}
            <h2>{% trans "My profile" %}</h2>
            <p>{% trans "To manage your subscriptions, your machines and all your services, access your profile." %}</p>
            <p><a href="{% url 'users:mon-profil' %}" class="btn btn-primary"
                  role="button">{% trans "Access my profile" %}</a></p>
        {% endif %}

        <h2>{% trans "Services of the organisation" %}</h2>
        {% for service_list in services_urls %}
            {% for service in service_list %}
                {% if service.image %}
                    <a href="{{ service.url }}"><img src="{{ service.image.url }}" alt="{{ service.name }}"></a>
                {% endif %}
                <h3>{{ service.name }}</h3>
                <p>{{ service.description }}</p>
                <p><a href="{{ service.url }}" class="btn btn-primary"
                      role="button">{% trans "Go there" %}</a></p>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>{% trans 'My account' %}</h2>
            <h3>{% trans 'My recent actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
            {% else %}
                <ul class="actionlist">
                    {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                                {{ entry.object_repr }}
                            {% else %}
                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                            <br/>
                            {% if entry.content_type %}
                                <span class="mini quiet">{% filter capfirst %}
                                    {{ entry.content_type }}{% endfilter %}</span>
                            {% else %}
                                <span class="mini quiet">{% trans 'Unknown content' %}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
